@tailwind base;
@tailwind components;
@tailwind utilities;

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: #1b1b1b;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 600px;
  max-height: 90vh;
  height: 75vh;
  padding: 25px;
  animation: contentShow 400ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}
input,
textarea {
  padding: 10px 10px;
  outline: none;
}
input:focus,
textarea:focus {
  border-color: #3498db;
}
.Logout {
  background-color: #1b1b1b;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 10%;
  right: 4%;
  width: 20vw;
  max-width: 200px;
  max-height: 20vh;
  height: 15vh;
  padding: 25px;
  transform: translate(-10%, -4%);
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
